[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tejacharan04
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tejacharan04
	label-Verified = -1..+1 group user/tejacharan04
	push = group user/tejacharan04
	read = group user/tejacharan04
	rebase = group user/tejacharan04
	removeReviewer = group user/tejacharan04
	submit = group user/tejacharan04
[access "refs/heads/*"]
	create = group user/tejacharan04
	push = +force group user/tejacharan04
	pushMerge = group user/tejacharan04
	read = group user/tejacharan04
[access "refs/tags/*"]
	push = group user/tejacharan04
	push = +force group user/tejacharan04
